header{
    height: 17vh;
}
main{
    height: 78vh;
}
footer{
    height: 5vh;
}
#box{
    height: 15vh;   
}

#calcul{
    width: 25%;
    margin: 0 auto;
}

.col-6{
    border-color: black;
    margin: 1px 0px;
}
.col-3{
    border-color: black;
    margin: 1px 0px;

}

input{
    margin-top: 2px;
    max-width: 100%;
    height: 95%;
    border: none;
}






/* .grid-container {
    border: 3px solid white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
    height: 300px;
  }
  .col-1 {
    border: 2px solid red;
    background-color: lightblue;
    grid-row: span 2;
  } */